{% extends 'base.html' %}

{% block title %}
    All The Movies
{% endblock title %}

<!-- Main Content -->
{% block content %}
    <ul>
        {% for movie in object_list %}
            <li>
                <a href="{% url 'movies:movie_detail' pk=movie.id %}">
                    {{ movie }}
                </a>
            </li>
        {% empty %}
            <li>No movies yet.</li>
        {% endfor %}
    </ul>
    <!-- <p>
        Using https?
        {{ request.is_secure|yesno }}
    </p> -->
    {% include "movies/partials/_pagination.html" %}

{% endblock content %}